<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codechef API</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Codechef API</h1>

    <div class="wrapper">

        <div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
        </div >
        <div class="container">
            Fetch your <code>Codechef</code> Acount Data easily... <br>
            *personal use only :)
        </div>
        <div class="howToUse">
            <h2>❓How To Use</h2>
            
                ⌨️ type in.... <br>
                <code>codechef-rating-i7yd.onrender.com/{username}</code><br>
                to get These following data:
                <ul>
                    <li>Current Rank</li>
                    <li>Highest Rank</li>
                    <li>No. of Participated Contest</li>
                    <li>Problem Solved</li>
                    <li>Global Rank</li>
                    <li>Country Rank</li>
                </ul>
                *as a JSON file...
            </code>
        </div>
    </div>
    
</body>
</html>